@import "tailwindcss";

@theme {
  --color-background: #0B0F19;
  --color-surface: #111827;
  --color-primary: #3B82F6;
  --color-text: #F3F4F6;
  --color-muted: #9CA3AF;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text);
  }
}
